@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

body {
  overflow: hidden; }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-image: url("../../img/pattern.png");
    background-repeat: repeat;
    opacity: 0.05; }

.main-header {
  display: none;
  box-shadow: 0 0 10px 0 #c2c2c2; }

nav {
  height: 72px; }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    background-color: #EAB05C;
    height: 72px; }
    nav ul .selected > a {
      color: white; }
    nav ul li {
      margin: 0 20px;
      padding: 20px 0; }
      nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fbf2e4;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 15px; }
        nav ul li a::after {
          content: "";
          display: block;
          top: 5px;
          height: 3px;
          width: 65%;
          margin: 0 auto;
          background: transparent;
          position: relative; }
        nav ul li a:hover {
          color: white; }
          nav ul li a:hover::after {
            background: white; }
    nav ul .logo-trsl {
      transform: translateY(-17px); }
    nav ul .selected a::after {
      content: "";
      display: block;
      top: 5px;
      height: 3px;
      width: 65%;
      margin: 0 auto;
      background: white;
      position: relative; }
  nav .logo-icon {
    width: 40px;
    padding: 13px 15px;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }

.container {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 64px; }
  .container .search-engine {
    min-height: auto;
    height: auto;
    width: 100%;
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 0 13px 0 gainsboro; }
    .container .search-engine .search-box {
      margin: 0 auto;
      padding: 10px 0;
      padding-right: 32px; }
      .container .search-engine .search-box .search-icon {
        position: relative;
        right: 7px;
        top: 32px;
        float: right;
        color: #c2c2c2; }
      .container .search-engine .search-box h3 {
        margin-top: 15px; }
      .container .search-engine .search-box label {
        margin-top: 10px;
        display: block;
        vertical-align: middle;
        padding: 10px 0; }
      .container .search-engine .search-box .small-inline {
        display: inline-block;
        width: auto; }
      .container .search-engine .search-box input {
        vertical-align: middle;
        cursor: text;
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        padding: 10px;
        margin: 5px 15px 15px 15px;
        color: #8f8f8f;
        background-color: #F5F5F5; }
        .container .search-engine .search-box input:active {
          cursor: text; }
        .container .search-engine .search-box input:hover {
          cursor: text; }
        .container .search-engine .search-box input:focus {
          cursor: text;
          outline: none; }
  .container .beer-list {
    width: 100%;
    flex-grow: 3;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: all 0.175s ease-in-out; }
    .container .beer-list .search-message {
      display: block;
      margin: 0 auto;
      width: 100%;
      margin-top: 50px;
      text-align: center; }
      .container .beer-list .search-message h3 {
        text-shadow: 2px 2px #F5F5F5;
        font-size: 1.5rem;
        text-align: center;
        color: #EAB05C; }
      .container .beer-list .search-message img {
        text-align: center;
        margin-bottom: 20px;
        max-height: 200px;
        max-width: 200px; }
    .container .beer-list .alert-success {
      width: 100%;
      padding: 25px;
      margin: 25px;
      background-color: #27ae60;
      color: white;
      border-radius: 10px;
      display: flex; }
      .container .beer-list .alert-success p {
        width: 100%; }
      .container .beer-list .alert-success i {
        cursor: pointer;
        float: right; }
    .container .beer-list::after {
      content: "";
      flex: auto; }
    .container .beer-list .beer-display div > a, .container .beer-list .beer-display a {
      text-decoration: none; }
    .container .beer-list .beer-display {
      width: calc(100% - 40px);
      margin: 20px;
      background-color: white;
      box-shadow: 0 0 13px 0 gainsboro;
      border-radius: 5px;
      display: flex;
      justify-content: flex-start;
      flex-flow: column; }
      .container .beer-list .beer-display .hover-block {
        transition: all 0.175s ease-in-out; }
      .container .beer-list .beer-display .hover-block:hover {
        cursor: pointer;
        background-color: #fbf2e4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
        .container .beer-list .beer-display .hover-block:hover h3 {
          color: #f0c689; }
      .container .beer-list .beer-display .logo-image {
        text-align: center;
        flex-grow: 2;
        height: 120px;
        overflow: hidden; }
        .container .beer-list .beer-display .logo-image img {
          max-width: 80%;
          margin: 20px 0;
          max-height: 100px; }
      .container .beer-list .beer-display h3 {
        text-align: center;
        padding: 10px 0;
        font-weight: 300;
        font-size: 1.3rem;
        flex-grow: 1;
        transition: all 0.175s ease-in-out;
        color: #8f8f8f; }
      .container .beer-list .beer-display .add-button {
        padding: 10px 0;
        flex-grow: 5;
        text-align: center;
        align-items: center;
        background-color: #F5F5F5;
        -webkit-transition: background-color 0.175s ease-in-out;
        transition: background-color 0.175s ease-in-out; }
        .container .beer-list .beer-display .add-button a {
          display: flex; }
        .container .beer-list .beer-display .add-button i {
          vertical-align: middle;
          display: inline-block;
          flex: 1 0 100%;
          -webkit-transition: color 0.175s ease-in-out;
          transition: color 0.175s ease-in-out;
          color: #c2c2c2; }
        .container .beer-list .beer-display .add-button:hover {
          background-color: #f6dcb6;
          cursor: pointer; }
          .container .beer-list .beer-display .add-button:hover i {
            color: #EAB05C; }

.main-content, .navigation {
  position: absolute; }

.navigation ul {
  flex-direction: column; }

.main-content {
  height: 100%;
  left: 0;
  overflow: scroll;
  width: 100%;
  z-index: 100;
  -webkit-transition: left 0.4s;
    -webkit-transition--moz-transition: left 0.4s;
      -webkit-transition--moz-transition--ms-transition: left 0.4s;
        -webkit-transition--moz-transition--ms-transition-transition: left 0.4s; }
  .main-content.reveal {
    left: -50%; }

.navigation {
  background: #EAB05C;
  height: 100%;
  right: -50%;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 0;
  -webkit-transition: right 0.4s;
    -webkit-transition--moz-transition: right 0.4s;
      -webkit-transition--moz-transition--ms-transition: right 0.4s;
        -webkit-transition--moz-transition--ms-transition-transition: right 0.4s; }
  .navigation.reveal {
    right: 0; }
  .navigation li {
    list-style-type: none; }
    .navigation li a {
      color: #fff;
      display: block;
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 20px;
      text-decoration: none;
      text-transform: uppercase; }
  .navigation .selected a {
    font-weight: 700; }

.menu-button {
  display: block;
  width: 64px;
  height: 64px;
  background: transparent;
  border: none;
  cursor: pointer;
  float: right;
  outline: none; }
  .menu-button path {
    fill: #EAB05C; }

.mobile-nav {
  height: 64px;
  padding: 20px 0; }

.icon-container {
  width: 64px;
  height: 64px;
  position: absolute;
  left: calc(50% - 32px); }
  .icon-container .icon-app {
    float: left;
    display: block;
    width: 64px;
    padding: 0px 0;
    transform: rotate(20deg);
    box-sizing: border-box; }

.content-wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 40px auto;
  border-radius: 5px; }
  .content-wrapper .alert-danger {
    background-color: #e86060;
    color: white;
    padding: 15px;
    border-radius: 5px; }
  .content-wrapper .toast-popup {
    background-color: #333;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 15px 5px; }
    .content-wrapper .toast-popup span {
      padding: 15px;
      color: white; }
      .content-wrapper .toast-popup span i {
        color: white; }
        .content-wrapper .toast-popup span i:hover {
          cursor: pointer; }
  .content-wrapper .beer-content .beer-img-container img {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px; }
  .content-wrapper .beer-content .beer-about {
    padding: 25px; }
    .content-wrapper .beer-content .beer-about p {
      line-height: 2rem; }
  .content-wrapper .beer-content .beer-specifics {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap; }
    .content-wrapper .beer-content .beer-specifics p {
      margin: 5px;
      color: white;
      background-color: #EAB05C;
      padding: 10px 30px;
      border-radius: 30px; }
  .content-wrapper .low-padding header h3 {
    padding: 10px; }
  .content-wrapper .high-padding header h3 {
    padding: 25px; }
  .content-wrapper .contact-form, .content-wrapper .segment-content {
    box-shadow: 0 0 20px 0 gainsboro;
    position: relative;
    margin-top: 50px;
    top: 50%;
    background-color: #F5F5F5;
    border-radius: 5px; }
    .content-wrapper .contact-form a, .content-wrapper .segment-content a {
      text-decoration: none;
      color: #e49a2f;
      display: inline-block; }
      .content-wrapper .contact-form a::after, .content-wrapper .segment-content a::after {
        content: "";
        display: block;
        top: 5px;
        height: 2px;
        width: 75%;
        margin: 0;
        top: -4px;
        background: #e49a2f;
        position: relative; }
      .content-wrapper .contact-form a:visited, .content-wrapper .segment-content a:visited {
        color: auto; }
    .content-wrapper .contact-form .beer-review, .content-wrapper .segment-content .beer-review {
      padding: 25px; }
    .content-wrapper .contact-form .beer-score, .content-wrapper .segment-content .beer-score {
      text-align: center;
      margin: 0 auto;
      display: block; }
      .content-wrapper .contact-form .beer-score input, .content-wrapper .segment-content .beer-score input {
        border: none;
        background-color: #f0c689;
        color: white;
        padding: 10px;
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 1.5rem;
        border-radius: 5px;
        transition: all 0.175s ease-in-out;
        margin-bottom: 40px; }
        .content-wrapper .contact-form .beer-score input:focus, .content-wrapper .segment-content .beer-score input:focus {
          outline: none;
          box-shadow: 0 2px 0px 0px #EAB05C; }
      .content-wrapper .contact-form .beer-score input[type="range"]:focus, .content-wrapper .segment-content .beer-score input[type="range"]:focus {
        box-shadow: 0 0 0 0 #EAB05C; }
    .content-wrapper .contact-form header, .content-wrapper .segment-content header {
      background-color: #EAB05C;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .content-wrapper .contact-form header h3, .content-wrapper .segment-content header h3 {
        vertical-align: middle;
        text-transform: uppercase;
        color: white;
        font-size: 1.2rem; }
    .content-wrapper .contact-form p, .content-wrapper .segment-content p {
      padding: 10px 0 10px 12px;
      color: #5c5c5c;
      font-weight: 300;
      font-size: 1.1rem;
      line-height: 1.6rem; }
    .content-wrapper .contact-form fieldset, .content-wrapper .segment-content fieldset {
      border: none;
      width: 100%;
      margin: 0 auto;
      background-color: #F5F5F5; }
      .content-wrapper .contact-form fieldset .register-msg, .content-wrapper .segment-content fieldset .register-msg {
        font-size: 0.8rem; }
        .content-wrapper .contact-form fieldset .register-msg a, .content-wrapper .segment-content fieldset .register-msg a {
          font-size: 0.8rem; }
      .content-wrapper .contact-form fieldset label, .content-wrapper .segment-content fieldset label {
        padding: 10px 0 0 12px;
        display: block;
        text-transform: uppercase;
        color: #8f8f8f; }
      .content-wrapper .contact-form fieldset input, .content-wrapper .segment-content fieldset input {
        display: block;
        margin: 5px 0 10px 10px;
        padding: 5px 3px 5px 7px;
        border: none;
        border-radius: 5px;
        color: #c2c2c2;
        width: 70%; }
        .content-wrapper .contact-form fieldset input:focus, .content-wrapper .segment-content fieldset input:focus {
          outline: none;
          color: #EAB05C;
          box-shadow: 0 2px 0 0 #EAB05C; }
      .content-wrapper .contact-form fieldset ::-webkit-input-placeholder, .content-wrapper .segment-content fieldset ::-webkit-input-placeholder {
        text-transform: uppercase;
        color: #e8e8e8;
        font-size: 0.8rem; }
      .content-wrapper .contact-form fieldset textarea, .content-wrapper .segment-content fieldset textarea {
        width: calc(100% - 40px);
        box-sizing: border-box;
        margin: 10px;
        padding: 15px;
        height: auto;
        min-height: 200px;
        border: none;
        border-radius: 5px;
        resize: none;
        font-size: 0.9rem;
        color: #5c5c5c; }
        .content-wrapper .contact-form fieldset textarea:focus, .content-wrapper .segment-content fieldset textarea:focus {
          outline: none;
          color: #EAB05C;
          box-shadow: 0 2px 0 0 #EAB05C; }

.btn-contact {
  font-size: 1.5rem;
  width: 100%;
  display: block;
  background-color: #EAB05C;
  padding: 15px;
  border: none;
  color: white;
  margin: 20px auto 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.175s ease-in-out; }
  .btn-contact i {
    padding-right: 10px; }
  .btn-contact:hover {
    background-color: #e49a2f; }
  .btn-contact:focus {
    outline: 0; }

.credits {
  position: absolute;
  bottom: 25px;
  left: 15px;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: baseline;
  box-shadow: 0 2px 1px 0 #DDD;
  border: 1px solid #F5F5F5;
  z-index: 1000; }
  .credits:hover {
    cursor: pointer; }
  .credits i {
    position: relative;
    top: calc(50% - 10px);
    color: #333;
    font-size: 1rem; }

.review-link {
  display: block !important; }
  .review-link::after {
    content: "";
    display: block;
    top: 0;
    height: 0 !important;
    width: 100%;
    margin: 0 auto;
    background: transparent;
    position: relative; }

.side-login {
  position: relative;
  float: right;
  right: 0; }
  .side-login a {
    position: fixed;
    top: 20px;
    right: 32px; }
    .side-login a:hover * {
      color: white; }
    .side-login a:hover::after {
      content: "";
      display: block;
      top: 0;
      height: 0;
      width: 65%;
      margin: 0 auto;
      background: white;
      position: relative; }
    .side-login a span {
      font-size: 1.4rem;
      padding-right: 10px; }
    .side-login a i {
      font-size: 1.7rem;
      top: 22px;
      right: 32px; }

.score-display {
  font-size: 2rem;
  color: #EAB05C; }

@media screen and (min-width: 540px) {
  .main-header {
    display: block; }
  .mobile-nav, .navigation {
    display: none; }
  .container {
    margin-top: 0; } }

@media screen and (min-width: 680px) {
  .container .beer-list .beer-display {
    width: calc(50% - 40px); } }

@media screen and (min-width: 1080px) {
  .container .beer-list .beer-display {
    width: calc(33% - 40px); } }
