<div class="content-wrapper">
  <div ng-show="showSuccessMessage" class="toast-popup" >
      <span>{{success}}</span>
      <span>
        <i ng-click="closePopup()" class="fa fa-times-circle"></i>
      </span>
  </div>
  <div id="sgmt-intro" class="segment-content low-padding">

      <header>
        <h3>What is Yeast! ?</h3>
      </header>
      <p>Always wonder what beer to try when going to a bar, café or a restaurant? With Yeast! you can check which beers are rated highest. No more making bad choices and regret paying for something you likely will not enjoy.</p>
      <p>Yeast! is a beer tracker that helps you discover the best beers around the world. Register and rate  the beers you have tasted. </p>
  </div>

  <div id="sgmt-howto" class="segment-content low-padding">

      <header>
        <h3>How to start</h3>
      </header>
      <p>
        To start tracking your beer intake you will have to <a href ="/#/register">create an account</a>. You can check all the beers and their data without creating an account. However, to make full use of Yeast! we advice to create an account.
      </p>

      <p>
        The rest is simple. On the <a href="/#/beers">beers-page</a>, search for the beer you're looking for using the menu on the left. Discover the characteristics about the beer. Try the beer. Add the beer to your list.
      </p>
  </div>
</div>
